.background {
	height: 400px;
	width: 400px;
	background-color:#FFF;

}
#outer-wrap {
	margin: 30px 20px 150px 40px;
}

.clear {
	clear: both;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13
{	padding: 5px;
	width: 5px;
	height: 5px;
	border: solid 2px black;
	float: left;
	margin-left: 50px;
}

#div1 {
	background: black;
	margin-top: 35px;
	padding: 40px;
	z-index: 10;
}

#div2 {
	margin-top: 35px;
	margin: 60px 0 0 -100px;
	transform: rotate(-23deg);
	padding: 60px;	
	transition-property: all;
	transition-duration: 1.5s;
}


#div3 {
	margin: 30px 0 0 -100px;
	transform: rotate(-60deg);
	padding: 60px;
	transition-property: all;
	transition-duration: 1.5s;
}


#div4 {
	margin: 50px 0 0 -100px;
	transform: rotate(-72deg);
	padding: 60px;	
	transition-property: all;
	transition-duration: 1.5s;
}


#div5 {
	margin: 60px 10 0 -100px;
	transform: rotate(-50deg);
	padding: 40px;
	margin-left:50px;
	padding: 8px;	
	transition-property: all;
	transition-duration: 1.5s;
}

#div6 {
	margin: 50px 10 30 -100px;
	transform: rotate(-44deg);
	padding: 30px;
	margin-left:50px;
	padding: 40px;	
	transition-property: all;
	transition-duration: 1.5s;
}


#div7 {
	margin: 60px 0 0 -100px;
	transform: rotate(-76deg);
	padding: 25px;	
	margin-left:52px;
	transition-property: all;
	transition-duration: 1.5s;
}


#div8 {
	margin-top: 35px;
	margin: 60px 0 0 -100px;
	transform: rotate(-66deg);
	padding: 60px;	
	margin-left:55px;
	transition-property: all;
	transition-duration: 1.5s;
	transition-property: all;
	transition-duration: 1.5s;
}

#div9 {
	margin: 60px 0 0 -100px;
	transform: rotate(-30deg);
	padding: 50px;
	margin-left:60px;
	transition-property: all;
	transition-duration: 1.5s;
	transition-property: all;
	transition-duration: 1.5s;
}
